In [1]:
import pandas as pd 
import plotly.express as px

Имеются следующие переменные:
•	Hotel – тип отеля (City Hotel или Resort Hotel)  
•	Is canceled – бронирование было отменено (1) или нет (0); не отмененное считается успешным
•	Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
•	Arrival full date – полная дата прибытия
•	Arrival date year – год прибытия  
•	Arrival date month – месяц прибытия  
•	Arrival date week number – номер недели прибытия
•	Arrival date day of month – день прибытия
•	Stays in weekend nights – количество выходных (суббота или воскресенье), которые гость забронировал для проживания в отеле
•	Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
•	Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
•	Adults – число взрослых
•	Children – число детей
•	Babies – число младенцев 
•	Meal – выбранный тип питания
•	Country – страна происхождения клиента
•	Reserved room type – тип зарезервированного номера
•	Assigned room type – тип полученного номера (может отличаться от забронированного)
•	Customer type – тип бронирования
•	Reservation status – значение последнего статуса брони: Canceled - было отменено клиентом; Check-Out - клиент зарегистрировался, но уже покинул отель; No-Show - клиент не зарегистрировался и сообщил администрации отеля причину
•	Reservation status date – дата обновления статуса

In [2]:
booking = pd.read_csv('C:/Users/spit/Desktop/karpov/data/2_bookings.csv',sep=";")

In [3]:
booking.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [4]:
rename_colums = {}
for col in booking.columns:
    rename_colums[col] = col.replace(' ','_').lower()

In [5]:
rename_colums

{'Hotel': 'hotel',
 'Is Canceled': 'is_canceled',
 'Lead Time': 'lead_time',
 'arrival full date': 'arrival_full_date',
 'Arrival Date Year': 'arrival_date_year',
 'Arrival Date Month': 'arrival_date_month',
 'Arrival Date Week Number': 'arrival_date_week_number',
 'Arrival Date Day of Month': 'arrival_date_day_of_month',
 'Stays in Weekend nights': 'stays_in_weekend_nights',
 'Stays in week nights': 'stays_in_week_nights',
 'stays total nights': 'stays_total_nights',
 'Adults': 'adults',
 'Children': 'children',
 'Babies': 'babies',
 'Meal': 'meal',
 'Country': 'country',
 'Reserved Room Type': 'reserved_room_type',
 'Assigned room type': 'assigned_room_type',
 'customer type': 'customer_type',
 'Reservation Status': 'reservation_status',
 'Reservation status_date': 'reservation_status_date'}

In [6]:
booking = booking.rename(columns=rename_colums)

In [7]:
booking

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

! Пользователи из каких стран совершили наибольшее число успешных бронирований?

1 способ. Новый вариант. подобие SQL

In [8]:
booking.query('is_canceled == 0').value_counts('country').head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

2 способ. Классический вариант (['country'].value_counts()) . подобие SQL

In [9]:
booking.query('is_canceled == 0')['country'].value_counts().head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

3 способ. Приближенная версия к python

In [10]:
booking.loc[booking.is_canceled == 0].country.value_counts().head()

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: count, dtype: int64

 На сколько ночей (stays_total_nights)  в среднем бронируют отели типа City Hotel? Resort Hotel?

In [11]:
booking.groupby('hotel').agg({'stays_total_nights':'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

Иногда тип номера, присвоенного клиенту (assigned_room_type), отличается от изначально забронированного (reserved_room_type). Такое может произойти, например, по причине овербукинга.

In [14]:
len(booking.query("reserved_room_type != assigned_room_type"))

14917

In [15]:
len(booking.loc[booking['reserved_room_type'] != booking['assigned_room_type']])

14917

На какой месяц чаще всего оформляли бронь в 2016 году? Изменился ли самый популярный месяц в 2017?

In [29]:
booking.groupby('arrival_date_year')['arrival_date_month'].agg(pd.Series.mode)

arrival_date_year
2015    September
2016      October
2017          May
Name: arrival_date_month, dtype: object

In [61]:
booking.groupby('arrival_date_year')['arrival_date_month'].value_counts()

arrival_date_year  arrival_date_month
2015               September             5114
                   October               4957
                   August                3889
                   December              2920
                   July                  2776
                   November              2340
2016               October               6203
                   May                   5478
                   April                 5428
                   September             5394
                   June                  5292
                   August                5063
                   March                 4824
                   July                  4572
                   November              4454
                   February              3891
                   December              3860
                   January               2248
2017               May                   6313
                   April                 5661
                   June                  5647
                   July                  5313
                   March                 4970
                   August                4925
                   February              4177
                   January               3681
Name: count, dtype: int64

Сгруппируйте данные по годам, а затем проверьте, на какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017?

In [66]:
booking.query("(hotel == 'City Hotel') & (is_canceled == 1)") \
    .groupby(["arrival_date_year", "arrival_date_month"]) \
    .agg({"is_canceled": "count"})

                                      is_canceled
arrival_date_year arrival_date_month
2015              August                     1232
                  December                    668
                  July                        939
                  November                    301
                  October                    1321
                  September                  1543
2016              April                      1539
                  August                     1247
                  December                   1072
                  February                    930
                  January                     438
                  July                       1043
                  June                       1720
                  March                      1108
                  May                        1436
                  November                   1360
                  October                    1947
                  September                  1567
2017              April                      1926
                  August                     1123
                  February                    971
                  January                    1044
                  July                       1324
                  June                       1808
                  March                      1278
                  May                        2217

Посмотрите на числовые характеристики трёх переменных: adults, children и babies. Какая из них имеет наибольшее среднее значение?

In [68]:
booking[['adults','children', 'babies']].mean()

adults      1.856403
children    0.103890
babies      0.007949
dtype: float64

Создайте колонку total_kids, объединив children и babies. Для отелей какого типа среднее значение переменной оказалось наибольшим?

In [70]:
booking['total_kids'] = booking['children'] + booking['babies']

In [73]:
booking.groupby('hotel').agg({'total_kids':'mean'}).round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14